<!DOCTYPE html>
<html>
<head>
	<title>Stylesheets media query</title>
	<!-- handle viewport adn width os browser -->
	<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0">

	<!-- phone style -->
	<link href="./static/phonestyles.css" rel="stylesheet" type="text/css" media="only screen and (max-width=600)">

	<!-- tablet style -->
	<link href="./static/tabletstyles.css" rel="stylesheet" type="text/css" media="only screen and (min-width=601) and (max-width=1140)">

	<!-- desktop style -->
	<link href="./static/desktopstyles.css" rel="stylesheet" type="text/css" media="only screen and (min-width=1141)">
</head>
<body>
	<title>This page has stylesheets for phone, tablet and desktop using different style sheets</title>
	
	<li>Red
	<li>Green
	<li>Blue

</body>
</html>